<div class="wrapper">
    <h1>Dojo Weather Forecast</h1>
    <div class="links">
        <a [routerLink]="['city/seattle']">Seattle,WA</a> | <a [routerLink]="['city/chicago']">Chicago,IL</a> | <a [routerLink]="['city/dallas']">Dallas,Tx</a> | <a [routerLink]="['city/san%20jose']">San Jose,CA</a> | <a [routerLink]="['city/burbank']">Burbank,CA</a>        | <a [routerLink]="['city/washington']">Washington,DC</a>
    </div>
    <div class="component">
        <router-outlet></router-outlet>
    </div>
</div>